body {
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h1 {
    display: block;
    text-align: center;
    animation-name: animasierror;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes animasierror {
    from {color: black;}
    to {color: red;}
}

p {
    font-size: 1rem;
    font-weight: bold;    
    display: block;
    text-align: center;
}

a {
    padding: 0.3em;
    text-decoration: none;
    background-color: blue;
    color: white;
    border: 2px solid black;
    border-radius: 0.5vw;
}
